// COLORS
$blue: #47eaff;
$indigo: #1F2A4A;
$purple: #c652e3;
$pink: #f84e69;
$red: #bd1900;
$orange: #ff6347;
$yellow: #fead56;
$green: #70bd40;
$teal: #0C92C5;
$violet: #8e57e7;
$cyan: #0dcaf0;
$dark: #242424;
/* BOOT COLORS */

//BOOT
$success: $green;
$primary: $indigo;
$secondary: $purple;
$danger: $pink;
$warning: $yellow;
$info: $orange;

// scss-docs-start colors-map
$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "violet":$violet,
  "dark": $dark,
);

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "dark": #242424,
);

// SHADOWS
$shdw-light: 0 2.5px 7.5px rgba(0, 0, 0, 0.06);
$shdw-dark: 0 5px 15px rgba(0, 0, 0, 0.2);
// TRANSITIONS / SPACING / RADIUS
$transition: all 0.3s linear;
$spacing: 0.1rem;
$spacing-lg: 0.2rem;
$radius: 0.25rem;

// BTN MODIFIED
//$btn-font-size: 1.5rem;
//$btn-border-radius: 0;
//$btn-border-radius-sm: 0;
//$btn-border-radius-lg: 0;
//$btn-box-shadow: transparent;
//$btn-focus-box-shadow: transparent;
//$btn-active-box-shadow: transparent;
//
//$btn-close-color: white;
//$btn-close-opacity: .50;
//$btn-close-hover-opacity: 1;
//$btn-close-focus-opacity: 1;
//$btn-close-disabled-opacity: .25;
//
//$btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$btn-close-color}' viewBox='0 0 16 16'><path d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z'/></svg>");



/* BOOT CARD */
$card-border-radius: 0;

/* BOOT OFFCANVAS */

$offcanvas-horizontal-width: 500px;
$offcanvas-vertical-height: 30vh;
$offcanvas-transition-duration: .3s;
$offcanvas-border-color: white;
//$offcanvas-border-width: $modal-content-border-width;
//$offcanvas-title-line-height: $modal-title-line-height;
//$offcanvas-bg-color: $modal-content-bg;
//$offcanvas-color: $modal-content-color;
//$offcanvas-box-shadow: $modal-content-box-shadow-xs;
//$offcanvas-backdrop-bg: $modal-backdrop-bg;
//$offcanvas-backdrop-opacity: $modal-backdrop-opacity;

/* BOOT INPUT */



$input-border-radius: 0;
$input-placeholder-color: white;
$input-focus-border-color: white;
$input-bg: transparent;
$input-focus-bg: transparent;
//$input-disabled-bg: $bg-input-glass;

/* BOOT LIST GROUP ITEM */
$list-group-border-radius: 0;


@import '../node_modules/bootstrap/scss/bootstrap';