*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  //font-size: 62.5%;
  margin: 0;
  padding: 2rem;
  position: relative;
  background-color: #242424;
  color: white;
  font-family: $ff-primary;
  cursor: none;
}

body {
  height: calc(100vh - 4rem);
}

a {
  &:link {
    text-decoration: none;
    color: white;
  }

  &:visited {
    color: white;
  }

  &:hover {
    color: $orange;
  }
}

li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}