//@use '../abstract/variables';

// FONTS
$ff-primary: 'Antonio', sans-serif;
$ff-secondary: 'Fira Mono', monospace;
$ff-text: 'Public Sans', sans-serif;

.text--primary {
  font-family: $ff-primary;
  letter-spacing: $spacing-lg;
  color: white;
}

.text--secondary {
  font-family: $ff-secondary;
}

.text--text {
  font-family: $ff-text;
}

.bg-line {
  background-color: #242424;
  //width: calc(100vw - 4rem);
  //height: auto;
  z-index: -1;
}

.hero__text--xxl {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  font-family: $ff-primary;
  font-weight: 600;
  line-height: 1.2em;
  padding-right: 0.05em;
  user-select: none;
  z-index: 8000;
}