.home__button--hero {
  &::before {
    background-image: url('https: //res.cloudinary.com/ferjen/image/upload/v1674886875/portfolio/arrow/arrow_egow1c.svg');
    background-repeat: no-repeat;
    display: flex;
    background-color: red;

  }
}